@use "../../Styles/Partials/mixins" as *;

.about {
    display: flex;
    flex-direction: row;
    gap: 5rem;


    @include desktop {
        padding: 2% 8%;
    }

    &__heading {
        @include desktop {
            width: 30%;
            font-size: 2rem;
        }
    }

    &__content {
        @include desktop {
            width: 70%;
            font-size: 1.2rem;

        }
    }
}