@use "../../Styles/Partials/mixins" as *;

.wedo {

    @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2% 8%;
    }

    &__container {

        @include desktop {
        display: flex;
        flex-direction: column;
        padding: 2%;
        }
    }

    &__heading {
        @include desktop {
            border: 1px solid red;
            font-size: 2rem;
        }
    }

    &__content {
        @include desktop {
            border: 1px solid red;
            width: 50%;
            margin: auto;
            padding: 1%;
        }
    }

    &__images {

        @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }
    }

    &__residential {

        @include desktop{
        display: flex;
        flex-direction: column;
        }
    }

    &__image {

        @include desktop {
        background-repeat: no-repeat;
        background-size: cover;
        width: 25rem;
        height: 17rem;
        }
    }

    &__residential--image {
        background-image: url("../../images/richmond/front-house.jpg");
       
    }

    &__commercial--image {
        background-image: url("../../images/1616cambie/woodceiling.jpg");
    }

    &__marine--image {
        background-image: url("../../images/marine/finished.jpg");
    }

    
}