@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/Partials/colors" as *;



.container {



  @include desktop {
    padding-top: 0;
    display: flex;
    justify-content: center;
  }


  &__heading {
    padding: 3rem 1rem 1rem;
    font-size: 2rem;
    color: $jp-red;
    text-align: center;
  
    @include desktop {

    }
  }

  &__sub-headings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;


    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 20%;
    }

    @include desktop {
      width: 100%;
      padding: 2rem 0 1rem 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 45%;
    }
  }

  &__residential {
    text-align: center;
    color: $jp-red;
    font-size: 1.2rem;
    padding: 1rem;
    cursor: pointer;

    @include tablet {

    }

    @include desktop {
      font-size: 1.5rem;
    
    }
  }

  &__residential.active {
    text-decoration: underline;
  }

  &__commercial {
    text-align: center;
    text-align: center;
    color: $jp-red;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;

    @include desktop {
      font-size: 1.5rem;
  
    }
  }

  &__commercial.active {
    text-decoration: underline;
  }


  &__mainImage {   
    background-image: url("../../images/frames.jpg");
    @include main-image--small;
    @include main-image--med;
    @include main-image--lrg;
  }

  &__thumbnails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;

    @include desktop {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      width: 100%;
      gap: 1rem;
    }
  }

  &__thumbnail {
      height: 25rem;
      width: 100%;

      @include tablet {
        width: calc(50% - 2rem);
      }

      @include desktop {
        width: calc(33.33% - 2rem);
      }
    
  }

  &__thumbnail--image {
      height: 100%;
      width: 100%;
  }
}

