@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/Partials/colors" as *;

h2.project--heading {
    padding: 3.5rem 0 0;
    font-size: 2.2rem;
    color: $jp-red;
    margin: auto;
}

.container {

@include desktop {
    padding: 0;
}

&__mainImage {

    @include desktop {
    height: 70vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../../images/frames.jpg")
    }
}

&__thumbnails {
    
    @include desktop {
        display: flex;
        // flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 1% 10%;
        width: 100%;
    }
}

&__thumbnail {
    @include desktop {
        border: 1px solid black;
        height: 25rem;
        width: 50%;
        margin: 5rem 0 3rem 0;
    }
}

&__thumbnail--heading {
    padding: 1rem 0;
    font-size: 1.5rem;
    border: 1px solid red;
}

&__right {
    text-align: right;
}

&__thumbnail--image {
    @include desktop {
        width: 70%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}
}

.right {
    float: right;
    
}

.image1 {
    background-image: url("../../images/image1/front-house.jpg");
}

.image2 {
    background-image: url("../../images/image2/front-house.jpg");
}

.image3 {
    background-image: url("../../images/image3/front.jpg");
}
