@use "../../Styles/Partials/colors" as *;
@use "../../Styles/Partials/mixins" as *;

body {
    padding: 0;
    margin: 0;
}

.body {
    height: 100vh;
    width: 100vw;
    background-image: url("../../images/body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
 

    &__container {
        width: 90vw;
        height: 100vh;
        padding: 1rem;
     
        @include desktop {
          padding: 1rem 5%;
        }
    
    }


    &__heading {
        color: #76323f;
        font-size: 4rem;
        width: 60%;
        margin: 20% 0 0 5%;
        z-index: 1;
    }

}

.slick-dots {
  li {
    button {
      font-size: 14px;
      color: $jp-red;
      background-color:e transparent;
      width: 15px;
      height: 15px;
      margin: 0 5px;
    }

    &.slick-active {
      button {
      }
    }
  }
}

.slide1 {
    background-image: url("../../images/mainhouse.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 82vh;
    opacity: 90%;
    border-radius: 10px;

    @include desktop {
      // background-size: 60%;

    
    }

}

.slide2 {
    background-image: url("../../images/bigkitchen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 82vh;
    width: 100%;
    background-position: center;
    opacity: 90%;
    border-radius: 10px;

    @include desktop {
      background-size: cover;
    }
}

.slick-arrow.slick-next::before{
  color: $jp-red;
}
.slick-arrow.slick-prev::before {
  color: $jp-red;
}




