@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/Partials/colors" as *;

.about {
  background-color: #fff;

  &__image {
    background-image: url("../../images/plan.jpg");
    height: 30vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    @include tablet {
      height: 50vh;

    }

    @include desktop {
      height: 55vh;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1rem;

    @include tablet {
      display: flex;
      padding: 3rem;      
    }

    @include desktop {
      padding: 1rem 5%;
    }
  }

  &__heading {
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
  }

  &__what {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    padding: 1.5rem 0 2rem 0;
    width: 100%;
    color: $jp-red;
  }

  &__wedo {
    font-size: 1.2rem;
    line-height: 1.3;
    // text-align: center;

    @include desktop {
      font-size: 1.3rem;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;

  @include tablet {
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__box {
    padding: 2% 5%;

    @include tablet {
      padding: 1.5% 10%;
    }

    @include desktop {
      width: 33.333%;
      padding: 2%;
    }
  }

  &__clowns {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.4rem;
  }

  &__box--heading {
    padding: 1rem;
    text-align: center;
    color: $jp-red;

    @include desktop {
    }
  }

  &__box--content {
    text-align: center;
    font-size: 1rem;

    @include desktop {
      font-size: 1.2rem;
    }
  }
}
