@use "../../Styles/Partials/mixins" as *;

.about {
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;

  &__image {
    background-image: url("../../images/plan.jpg");
    min-height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: auto;

    @include tablet {
      display: flex;
      // flex-direction: row;
      padding: 3rem;
    }

    @include desktop {
      padding: 0 10%;
    }
  }

  &__heading {
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
    
  }

  &__what {
    font-size: 2.2rem;
    text-align: center;
    padding: 1.5rem 0 2rem 0;
  }

  &__wedo {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  &__left,
  &__middle,
  &__right {
    margin: 1rem .2rem 1rem 10%;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    width: 80%;
    border-radius: 25px;  
    height: auto;          


    @include tablet {
      margin: 0 .5rem;
      height: 20rem;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    }
  }

  &__left--heading,
  &__middle--heading,
  &__right--heading {
    padding: 1rem 2rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    @include tablet {
      text-align: center;
      padding: 1.2rem 0;
    }
  }

  &__left--content,
  &__middle--content,
  &__right--content {
    padding: 2rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: auto;

    @include tablet {
      padding: 0;
      width: 100%;
      height: auto;
      padding: 1rem;
    }
  }
}

.container {
  border: 1px solid green;
}