@use "../../Styles/Partials/colors" as *;
@use "../../Styles/Partials/mixins" as *;

.contact {
  &__parallax {
    background-image: url(../../images/body/room.jpg);
    height: 60vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    @include tablet {
      background-size: auto 80%;
      background-position: top;
      min-height: 25rem;
    }

    @include desktop {
      height: 60vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }
  }

  &__heading {
    font-size: 2rem;
    // height: 6rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $jp-red;
  }

  &__aside {
    background-color: $jp-tan;

    @include tablet {
      display: flex;
      flex-direction: column;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      padding: 0 10% 5% 10%;
    }
  }

  &__blurb {
    padding: 5%;
    font-size: 1.1rem;

    @include tablet {
      padding: 5% 5% 2% 5%;
      font-size: 1.4rem;
      line-height: 1.4;
    }

    @include desktop {
      padding: 2% 1% 2% 0;
      width: 50%;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  padding: 0 5% 10% 5%;

  @include tablet {
    padding: 0 5% 5% 5%;
  }

  @include desktop {
    width: 50%;
    padding: 2% 0 0 1%;
  }

  &__name,
  &__email,
  &__company,
  &__message {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #9ba4b5;
    background-color: #dde6ed;
    margin: 0.5rem 0 0;
  }
  ::-webkit-input-placeholder {
    color: #000;
    opacity: 80%;
  }

  &__message {
    height: 5rem;
    width: 9.2rem;
    resize: none;
    width: 100%;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__button {
    padding: 0.5rem;
    margin-top: 0.2rem;
    width: 100%;
    border-radius: 4px;
    border: 0;
    background-color: #dde6ed;
    color: #000;
  }
}
