@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/Partials/fonts" as *;
@use "../../Styles/Partials/colors" as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;

  @include desktop {
    margin: 0 10%;
  }


  &__right {
    background-color: #fff;
    width: 100%;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 2rem;
    }
  }


&__details {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include tablet {
    display: flex;
  }
}

&__details--heading {
background-color: #fff;
color: #000;
font-size: .8rem;

@include tablet {
  font-size: 1.2rem;
}
}

&__details--email {
font-size: .9rem;
text-decoration: underline;
}

&__details--number {
font-size: .9rem;
}

&__socials--container {
display: flex;
flex-direction: row;
align-items: center;
}

&__socials {
display: flex;
flex-direction: column;
align-items: center;

}

&__copyright {

}



&__fb,
&__insta,
&__twitter {
background-image: url(../../icons/facebook.png);
width: 1.5rem;
height: 1.5rem;
background-size: cover;
margin: 1rem;


@include tablet {
width: 3rem;
height: 3rem;
cursor: pointer;
background-color: #fff;
margin: 2rem;
}
}

&__insta {
background-image: url(../../icons/instagram.png); 
}

&__twitter {

}
}

 

