@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/Partials/colors" as *;

.steel {
  @include desktop {
  }

  &__main-image {
    background-image: url("../../images/marine/slab.jpg");
    height: 30vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    

    @include tablet {
      height: 55vh;
      background-attachment: fixed;
    
    }
  }

  &__heading {
    padding: 2rem;
    font-size: 2.2rem;
    color: $jp-red;
    text-align: center;

    @include desktop {
    }
  }

  &__container {
    @include desktop {
    }
  }

  &__blurb {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;

    @include tablet {
      padding: 1rem 5%;
    }
  }

  &__thumbnails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    gap: 1rem;

    @include tablet {

    }

    @include desktop {
    }
  }

  &__thumbnail {
    height: 25rem;
    width: 100%;

    @include tablet {
        width: calc(50% - 2rem);
        height: 30rem;
    }

    @include desktop {
        width: calc(33.33% - 2rem);
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include desktop {
    }
  }

  &__hidden {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.dock1 {
  background-image: url("../../images/marine/slab.jpg");
}

.dock2 {
  background-image: url("../../images/marine/form.jpg");
}

.dock3 {
  background-image: url("../../images/marine/pouring.jpg");
}

.dock4 {
  background-image: url("../../images/marine/finished.jpg");
}

.dock5 {
  background-image: url("../../images/marine/frame.jpg");
}

.dock6 {
  background-image: url("../../images/marine/dock.jpg");
}
